.App {
  text-align: center;
}
html {
  background-color: #1c3738 !important;
}
#root {
  background-color: #1c3738 !important;
}
a {
  text-decoration: none;
  color: #f2f2f2;
}
.search {
  position: absolute;
  color: #e1efe6;
  outline: none;
  left: 35%;
  top: 20%;
  width: 400px;
  height: 35px;
  border-radius: 14px;
  border: none;
  background-color: #1c3738;
  background-image: url(../Images/magnifying-glass.png);
  background-size: 25px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  text-indent: 35px;
}
#profile {
  font-size: 1em !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #e1efe6;
  border-radius: 7px;
  padding: 7px;
  position: absolute;
  right: 2%;
}
.balance {
  color: #d64933;
  font-size: medium;
}
.profile-pic {
  border-radius: 200px;
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  right: 8%;
  bottom: 6%;
}
#addquestionform {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border: #000f08;
  border-width: 1cm;
  border-radius: 20px;
  background-color: #000f08;
  flex-direction: column;
  align-items: center;
  z-index: 5000;
  height: 700px;
  width: 900px;
}
#submitpost {
  background-color: #d64933;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  color: #f2f2f2;
  border-radius: 28px;
  cursor: pointer;
  border: 1px solid black;
  height: 63px;
  width: 285px;
  margin: 10vh;
}

#titleinput {
  background-color: #1c3738;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  text-indent: 5px;
  border: #d64933;
  color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid black;
  height: 63px;
  width: 70%;
  margin: 5vh;
}
#postinput {
  background-color: #1c3738;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: small;
  text-indent: 5px;
  border: #d64933;
  color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid black;
  height: 200px;
  width: 70%;
  margin: 5vh;
}
#postoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.Header {
  text-align: center;
  background-color: #000f08;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}
#title {
  color: #e1efe6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 2%;
  font-size: 18pt;
}
.navBar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  position: sticky;
  display: flex;
  justify-content: center;
  z-index: 2000;
  top: 0;
}
.navitems {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 25%;
  color: #f2f2f2;
  padding: 14px 10%;
}
.navBar .navitems:hover {
  background-color: #562d60;
  color: white;
}
#navitems {
  display: flex;
  justify-content: stretch;
  border: 5px solid red;
  overflow: hidden;
}
#questionlist {
  list-style: none;
}
.questionbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2em;
}
.questionbox a {
  all: unset;
  color: white;
}

.questionbox:hover {
  border: solid grey;
  border-width: 5px;
  cursor: pointer;
}
.questiondata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#addquestion {
  background-color: #d64933;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  color: #f2f2f2;
  border-radius: 28px;
  cursor: pointer;
  border: 1px solid black;
  height: 63px;
  width: 285px;
  margin: 10vh;
}
#addquestion:hover {
  background-color: #562d60;
  color: white;
}

.ratingbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  max-width: min-content;
}
.vote {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #687074;
}

.vote :hover {
  stroke: #f48024;
}

.vote:focus {
  color: #f48024;
}

.form {
  background-color: rgb(81, 87, 151);
  padding-top: 3em;
}
